{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": [
    "simple-import-sort",
    "unused-imports",
    "eslint-plugin-import",
    "eslint-plugin-prettier"
  ],
  "extends": ["eslint-config-airbnb-base", "prettier"],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "warn",
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "warn",
    "import/extensions": "off"
  }
}
